<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UmsMenuMapper">

    <select id="selectPermsByUserId" resultType="java.lang.String">
        select distinct m.perms
        from ums_menu m
                 left join ums_role_menu rm on m.id = rm.menu_id
                 left join ums_user_role ur on rm.role_id = ur.role_id
                 left join ums_role r on r.role_id = ur.role_id
        where m.status = 0
          and r.status = 0
          and ur.user_id = #{userId}
    </select>
    <select id="selectMenuListByUserId" resultType="com.mall.model.UmsMenu">
        select id,
               parent_id,
               perms,
               order_no,
               path,
               title,
               component,
               ignore_keep_alive,
               affix,
               icon,
               frame_src,
               transition_name,
               hide_breadcrumb,
               hide_children_in_menu,
               hide_tab,
               hide_menu,
               is_link,
               menu_type,
               is_frame
        from ums_menu m
                 left join ums_role_menu urm on m.id = urm.menu_id
                 left join ums_user_role uur on urm.role_id = uur.role_id
                 left join ums_role ur on uur.role_id = ur.role_id
                 left join ums_admin u on uur.user_id = u.user_id
        where u.user_id = #{userId}
          and m.menu_type in (0, 1)
          and m.status = 0
          and ur.status = 0
        order by m.parent_id, m.order_no
    </select>
</mapper>
