package ${package.Parent}.dto;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.ling.common.core.domain.base.BaseDTO;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * <p>
 * $!{table.comment} 操作类.
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
@JsonIgnoreProperties(ignoreUnknown = true)
public class ${entity}DTO extends BaseDTO implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach($field in ${table.fields})
        /**
         * ${field.comment}.
         */
        private ${field.propertyType} ${field.propertyName};

    #end
}
