<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.UmsAdminMapper">

    <resultMap id="user" type="com.mall.system.entity.UmsAdmin" autoMapping="true"/>

    <resultMap id="count" type="java.lang.Long">
        <result column="count"/>
    </resultMap>

    <select id="getUserListByRoleId" resultType="com.mall.system.entity.UmsAdmin">
        select u.id,
               username,
               real_name,
               email,
               tel,
               sex,
               concat(uf.path, '/', uf.name, uf.postfix) as avatar,
               avatar_file_id,
               status,
               del_flag,
               login_ip,
               depart_ids,
               user_identity,
               login_date,
               u.remark
        from ums_admin u
                 join ums_user_role uur on u.id = uur.user_id
                 left join ums_file uf on u.avatar_file_id = uf.id
        where uur.role_id = #{roleId}
    </select>
    <select id="queryUserList" resultType="com.mall.system.entity.UmsAdmin">
        SELECT u.id,
        username,
        real_name,
        u.email,
        tel,
        sex,
        concat(uf.path, '/', uf.name, uf.postfix) as avatar,
        avatar_file_id,
        status,
        del_flag,
        login_ip,
        depart_ids,
        user_identity,
        login_date,
        u.remark,
        login_address
        FROM ums_admin u
        join ums_user_dept uud on u.id = uud.user_id
        join ums_dept ud on uud.dept_id = ud.id
        left join ums_file uf on u.avatar_file_id = uf.id
        <where>
            <if test="deptId!=null">
                ud.parent_list like CONCAT((select parent_list from ums_dept where id = #{deptId}),'%')
            </if>
            <if test="username!=null and username != ''">
                username like CONCAT(#{username},'%')
            </if>
            <if test="realName!=null and realName != ''">
                real_name like CONCAT(#{realName},'%')
            </if>
        </where>
        order by u.id
    </select>
    <select id="getUmsAdminByUserName" resultType="com.mall.system.entity.UmsAdmin">
        select u.id,
               username,
               real_name,
               email,
               tel,
               sex,
               concat(uf.path, '/', uf.name, uf.postfix) as avatar,
               avatar_file_id,
               password,
               status,
               del_flag,
               login_ip,
               depart_ids,
               user_identity,
               login_date,
               login_address,
               u.remark
        from ums_admin u
                 left join ums_file uf on u.avatar_file_id = uf.id
        where u.username = #{username};
    </select>


</mapper>
