<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.UmsDeptMapper">

    <select id="getDeptListByUserId" resultType="com.mall.system.entity.UmsDept">
        select id,
               parent_id,
               dept_name,
               order_no,
               leader,
               phone,
               email,
               create_by,
               create_time,
               update_by,
               update_time
        from ums_dept
                 left join ums_user_dept uud on ums_dept.id = uud.dept_id
        where uud.user_id = #{userId}
    </select>
</mapper>
