<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.UmsMenuMapper">
    <insert id="addDeptPermByDeptId">
        insert into ums_dept_permission values
        <foreach collection="permIds" item="id" separator=",">
            (null,#{deptId},#{id})
        </foreach>
    </insert>
    <insert id="addRolePermByRoleId">
        insert into ums_role_menu values
        <foreach collection="permIds" item="id" separator=",">
            (null,#{roleId},#{id})
        </foreach>
    </insert>

    <insert id="addDeptRolePerm">
        insert into ums_role_menu values
        <foreach collection="permIds" item="id" separator=",">
            (null,#{deptRoleId},#{id})
        </foreach>
    </insert>

    <delete id="delDeptRolePerm">
        delete from ums_dept_role_permission where dept_role_id = #{deptRoleId} and permission_id in
        <foreach collection="permIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delDeptPermByDeptId">
        delete from ums_dept_permission where dept_id = #{deptId} and permission_id in
        <foreach collection="permIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delRolePermByRoleId">
        delete from ums_role_menu where role_id = #{roleId} and menu_id in
        <foreach collection="permIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delRolePermByPermId">
        delete
        from ums_role_menu
        where menu_id = #{permId};
    </delete>

    <delete id="delDeptPermByPermId">
        delete
        from ums_dept_permission
        where permission_id = #{permId}
    </delete>
    <delete id="delDeptRolePermByPermId">
        delete
        from ums_dept_role_permission
        where permission_id = #{permId}
    </delete>

    <select id="selectUserPermsIdsById" resultType="java.lang.Long">
        select distinct m.id
        from ums_menu m
                 inner join ums_role_menu rm on m.id = rm.menu_id
                 inner join ums_user_role ur on rm.role_id = ur.role_id
                 inner join ums_role r on r.id = ur.role_id
        where m.status = 0
          and r.status = 0
          and ur.user_id = #{userId}
    </select>

    <select id="selectDeptPermsId" resultType="java.lang.Long">
        select m.id
        from ums_menu m
                 inner join ums_dept_role_permission udrp on m.id = udrp.permission_id
                 inner join ums_dept_role udr on udrp.dept_role_id = udr.id
                 inner join ums_dept_role_user udru on udr.id = udru.dept_role_id
                 inner join ums_admin u on udru.user_id = u.id
        where u.id = #{userId}
          and m.status = 0
        order by m.parent_id, m.order_no;
    </select>

    <select id="selectDeptPerm" resultType="java.lang.Long">
        select ums_menu.id
        from ums_menu
                 inner join ums_dept_permission udp on ums_menu.id = udp.permission_id
        where udp.dept_id = #{id}
    </select>

    <select id="selectRolePerm" resultType="java.lang.Long">
        select m.id
        from ums_menu m
                 inner join ums_role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{id}
    </select>

    <select id="selectDeptRolePerm" resultType="java.lang.Long">
        select m.id
        from ums_menu m
                 inner join ums_dept_role_permission udrp on m.id = udrp.permission_id
        where udrp.dept_role_id = #{id}
    </select>


</mapper>
